<div class="card">
  <div class="card-body">
    <div class="row text-center">
      <div class="col-12 mt-4 text-bg-primary">
        <h1>Home Page</h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('hero-page')">
          Hero Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('family-page')">
          Family Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('my-worksheet')">
          My Worksheet Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('book-page')">
          Book Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('picture-page')">
          Pictures Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('stoic-page')">
          Stoic Page
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('super-hero')">
          Super Hero Page
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('emitter-page')">
          Emitter Page
        </button>
      </div>
    </div>
  </div>
</div>
