<div class="card">
  <div class="card-body">
    <div class="row text-center">
      <div class="col-3 text-start">
        <label>Upload PDF:</label>
        <input
          type="file"
          name="file"
          id="file"
          (change)="changePdfName($event)"
        />
      </div>
      <div class="col-6">
        <h1>Book Page</h1>
      </div>
      <div class="col-3 text-end">
        <button class="btn btn-primary" (click)="routeToPage('/')">
          Back Home Page
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card search-bar p-1">
      <div class="card-body">
        <div class="row">
          <h5>Search Bar:</h5>
        </div>
        <div class="row p-1">
          <div class="col-3">
            <label> Title: </label> <br />
            <select
              class="col-10"
              [disabled]="isViewPhoto"
              [(ngModel)]="selectedTitle"
              (change)="displayBookDetails(selectedTitle)"
            >
              <option value="">Select Book Title</option>
              <option *ngFor="let book of books" [value]="book.title">
                {{ book.title }}
              </option>
            </select>
          </div>
          <div class="col-3">
            <label> Author: </label> <br />
            <select
              class="col-10"
              [disabled]="isViewPhoto"
              [(ngModel)]="selectedAuthor"
              (change)="displayBookDetails(selectedAuthor)"
            >
              <option value="">Select Author</option>
              <option *ngFor="let author of authorsArray" [value]="author">
                {{ author }}
              </option>
            </select>
          </div>
          <div class="col-2">
            <label> Year: </label> <br />
            <select
              class="col-10"
              [disabled]="isViewPhoto"
              [(ngModel)]="selectedYear"
              (change)="displayBookDetails(selectedYear)"
            >
              <option value="">Select Year</option>
              <option *ngFor="let year of yearArray" [value]="year">
                {{ year }}
              </option>
            </select>
          </div>
          <div class="col-2">
            <label> Genre: </label> <br />
            <select
              class="col-10"
              [disabled]="isViewPhoto"
              [(ngModel)]="selectedGenre"
              (change)="displayBookDetails(selectedGenre)"
            >
              <option value="">Select Genre</option>
              <option *ngFor="let genre of genreArray" [value]="genre">
                {{ genre }}
              </option>
            </select>
          </div>
          <div class="col-2 mt-2">
            <button class="btn btn-primary" (click)="getRandomBook()">
              Random Book
            </button>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <label><strong>ManualSearch:</strong></label
            ><br />
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchedAuthor"
              (keyup)="typingAuthor($event.target.value)"
              (change)="typingAuthor($event.target.value)"
            />
          </div>
          <div class="col-4">
            <label><strong>Directive Search:</strong></label><br />
            <input 
              alpha-numeric
              type="text" 
              class="form-control"
              [(ngModel)]="directiveSearch"
              (keyup)="typingAuthor($event.target.value)"
              (change)="typingAuthor($event.target.value)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!isViewPhoto">
    <div class="card-body mb-2">
      <div class="row text-center">
        <div class="col-12" *ngIf="isBookSelected">
          <div class="row">
            <div class="col-7 text-end">
              <h3><strong>Book Details:</strong></h3>
            </div>
            <div class="col-5 text-end">
              <button
                (click)="clearDropdowns(); isBookSelected = !isBookSelected"
                class="btn btn-danger"
              >
                <span>X</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-end">
              <span>
                <h5>Title: {{ selectedTitle }}</h5>
              </span>
              <span>
                <h5>Author: {{ selectedBook.author }}</h5>
              </span>
              <span>
                <h5>Year: {{ selectedBook.year }}</h5>
              </span>
              <span>
                <h5>Genre: {{ selectedBook.genre }}</h5>
              </span>
            </div>
            <div class="col-6">
              <div
                *ngIf="isCoverPresent"
                class="img-container"
                style="width: 150px; height: 200px"
              >
                <img
                  class="img-fluid"
                  style="width: 150px; height: 200px"
                  [src]="selectedBook.cover"
                  alt="{{ selectedBook.title }} cover"
                  (click)="
                    isViewPhoto = !isViewPhoto;
                    displayAuthorCover(selectedBook.id)
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isAuthorSelected" class="mb-4">
          <div class="row">
            <div class="col-7 text-end">
              <h3><strong>Book by Author:</strong></h3>
            </div>
            <div class="col-5 text-end">
              <button
                (click)="isAuthorSelected = !isAuthorSelected; clearDropdowns()"
                class="btn btn-danger"
              >
                <span>X</span>
              </button>
            </div>
          </div>
          <div class="row mb-3" *ngFor="let author of selectedAuthorArray">
            <div class="col-6 text-end">
              <span
                ><h4>Title: {{ author.title }}</h4></span
              >
              <span
                ><h4>Author: {{ author.author }}</h4></span
              >
              <span
                ><h4>Year: {{ author.year }}</h4></span
              >
              <span
                ><h4>Genre: {{ author.genre }}</h4></span
              >
            </div>
            <div class="col-6 mb-3">
              <div
                *ngIf="isCoverPresent"
                class="img-container"
                style="width: 100px; height: 150px"
              >
                <img
                  class="img-fluid"
                  style="width: 100px; height: 150px"
                  [src]="author.cover"
                  alt="{{ author.title }} cover"
                  (click)="
                    isViewPhoto = !isViewPhoto; displayAuthorCover(author.id)
                  "
                />
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isYearSelected">
          <div class="row">
            <div class="col-7 text-end">
              <h3><strong>Book by Year:</strong></h3>
            </div>
            <div class="col-5 text-end">
              <button
                (click)="isYearSelected = !isYearSelected; clearDropdowns()"
                class="btn btn-danger"
              >
                <span>X</span>
              </button>
            </div>
          </div>
          <div class="row mb-3" *ngFor="let year of selectedYearArray">
            <div class="col-6 text-end">
              <span
                ><h4>Title: {{ year.title }}</h4></span
              >
              <span
                ><h4>Author: {{ year.author }}</h4></span
              >
              <span
                ><h4>Year: {{ year.year }}</h4></span
              >
              <span
                ><h4>Genre: {{ year.genre }}</h4></span
              >
            </div>
            <div class="col-6">
              <div
                *ngIf="isCoverPresent"
                class="img-container"
                style="width: 100px; height: 150px"
              >
                <img
                  class="img-fluid"
                  style="width: 100px; height: 150px"
                  [src]="year.cover"
                  alt="{{ year.title }} cover"
                  (click)="
                    isViewPhoto = !isViewPhoto; displayAuthorCover(year.id)
                  "
                />
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isGenreSelected">
          <div class="row">
            <div class="col-7 text-end">
              <h3><strong>Book by Genre:</strong></h3>
            </div>
            <div class="col-5 text-end">
              <button
                (click)="isGenreSelected = !isGenreSelected; clearDropdowns()"
                class="btn btn-danger"
              >
                <span>X</span>
              </button>
            </div>
          </div>
          <div class="row mb-3" *ngFor="let genre of selectedGenreArray">
            <div class="col-6 text-end">
              <span
                ><h4>Title: {{ genre.title }}</h4></span
              >
              <span
                ><h4>Author: {{ genre.author }}</h4></span
              >
              <span
                ><h4>Year: {{ genre.year }}</h4></span
              >
              <span
                ><h4>Genre: {{ genre.genre }}</h4></span
              >
            </div>
            <div class="col-6">
              <div
                *ngIf="isCoverPresent"
                class="img-container"
                style="width: 100px; height: 150px"
              >
                <img
                  class="img-fluid"
                  style="width: 100px; height: 150px"
                  [src]="genre.cover"
                  alt="{{ genre.title }} cover"
                  (click)="
                    isViewPhoto = !isViewPhoto; displayAuthorCover(genre.id)
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="isViewPhoto">
  <div class="card-body">
    <div class="row p-2">
      <div class="col-12 text-end">
        <div>
          <button class="btn btn-danger" (click)="isViewPhoto = false">
            Close
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isCoverBook" class="row text-center">
      <div class="col-12">
        <img
          style="width: 500px; height: 700px"
          class="img-fluid"
          [src]="coverBook.cover"
          alt="{{ coverBook.cover }} cover"
        />
      </div>
    </div>
  </div>
</div>

<app-random-book-modal
  *ngIf="isRandomModalOpen"
  (closeModalEvent)="handleCloseModal()"
  [chosenRandomBook]="selectedRandomBook"
></app-random-book-modal>
