<div class="containter">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <h2><strong>Super Heroes Page</strong></h2>
        </div>
        <div class="col-4 text-end">
          <button class="btn btn-primary" (click)="routePage('/')">
            Back to Home
          </button>
        </div>
      </div>

      <div class="container search-bar">
        <div class="row mt-3">
          <div class="col-12 mt-3">
            <h4>Search Bar:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Superhero Name:</label><br />
            <select [(ngModel)]="heroName" (change)="displayHero(heroName)">
              <option value="">Superhero Name</option>
              <option *ngFor="let name of superNames" [value]="">
                {{ name }}
              </option>
            </select>
          </div>
          <div class="col-4">
            <label>Superhero Origin:</label><br />
            <select [(ngModel)]="heroOrigin" (change)="displayHero(heroOrigin)">
              <option value="">Superhero Age</option>
              <option *ngFor="let sup of superOrigin" [value]="sup">
                {{ sup }}
              </option>
            </select>
          </div>
          <div class="col-4">
            <label>Superhero Team:</label><br />
            <select [(ngModel)]="heroTeam" (change)="displayHero(heroTeam)">
              <option value="">SuperheroTeam</option>
              <option *ngFor="let team of superTeams" [value]="team">
                {{ team }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container search-bar2">
    <div class="row mt-2">
      <h4>Build a Superhero:</h4>
    </div>
    <div class="row">
      <div class="col-3">
        <label>Superhero Name:</label><br />
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="newName"
        (keypress)="newName"
        (keyup)="newName"
        />
      </div>
      <div class="col-3">
        <label>Superhero Team:</label><br />
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="newTeam"
        (keypress)="newTeam"
        (keyup)="newTeam"
        />
      </div>
      <div class="col-3">
        <label>Superhero Origin:</label><br />
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="newOrigin"
        (keypress)="newOrigin"
        (keyup)="newOrigin"
        />
      </div>
      <div class="col-3">
        <label>Superhero Power:</label><br />
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="newPower"
        (keypress)="newPower"
        (keyup)="newPower"
        />
      </div>
    </div>
    <div class="row text-center mt-2"><h3>New Superhero</h3></div>
    <div class="row mt-3 text-center">
        <div class="col-2"></div>
        <div class="col-4 text-start">
          <span><strong>Name: {{ newName }} </strong></span>
        </div>
      
        <div class="col-2 text-start">
          <span><strong>Team: {{ newTeam }} </strong></span>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-3 text-start">
      <div class="col-2"></div>
        <div class="col-4">
          <span><strong>Origin: {{ newOrigin }} </strong></span>
        </div>

        <div class="col-4">
          <span><strong>Power: {{ newPower }} </strong></span>
        </div>
        <div class="col-2"></div>

    </div>
  </div>

  <div class="row m-3 text-center" *ngIf="isSelectedSuperhero">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h4>SuperHero Details:</h4>
    </div>
    <div class="col-3 text-end p-2">
      <button class="btn btn-danger" (click)="closeClear()">X</button>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <span><strong>Superhero Name: {{ selectedSuperhero?.name }} </strong></span><br />
        <span><strong>Superhero Origin: {{ selectedSuperhero?.origin }}</strong></span><br />
        <span><strong> Superhero Team: {{ selectedSuperhero?.team }}</strong></span><br />
        <span><strong>Superhero Power: {{ selectedSuperhero?.power }}</strong></span><br />
      </div>
      <div class="col-3 text-end"></div>
    </div>
  </div>

  <div class="row mt-3 text-center" *ngIf="isSelectedOrigin">
    <div class="row text-center mt-3">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h4>Superhero Origin Details:</h4>
    </div>
    <div class="col-3 text-end p-2">
      <button class="btn btn-danger" (click)="closeClear()">X</button>
    </div>
    </div>
    <div
      class="col-5 text-center mb-2"
      *ngFor="let origin of selectedOriginArray"
    >
      <span><strong>Superhero Name: {{ origin?.name }} </strong></span><br />
      <span><strong> Superhero Origin: {{ origin?.origin }}</strong></span><br />
      <span><strong> Superhero Team: {{ origin?.team }}</strong></span><br />
      <span><strong>Superhero Power: {{ origin?.power }}</strong></span><br />
      <hr />
    </div>
  </div>

  <div class="row mt-3 text-center" *ngIf="isSelectedTeam">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h4>Superhero Team Details:</h4>
    </div>
    <div class="col-3 text-end p-2">
      <button class="btn btn-danger" (click)="closeClear()">X</button>
    </div>  
    <div class="col-6 text-center mb-2" *ngFor="let team of selectedTeamArray">
      <span><strong>Superhero Name: {{ team?.name }} </strong></span><br />
      <span><strong> Superhero Origin: {{ team?.origin }}</strong></span><br />
      <span><strong> Superhero Team: {{ team?.team }}</strong></span><br />
      <span><strong>Superhero Power: {{ team?.power }}</strong></span><br />
      <hr />
    </div>
  </div>
</div>

