<div class="container">
  <div class="row">
    <p>
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Button with data-bs-target
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Who is then invincible? The one who cannot be upset by anything outside their reasoned choice.
      </div>
      <div
          class="img-container text-center"
          style="width: 200px; height: 300px"
        >
          <img
            src="img-fluid"
            class="rounded mt-2"
            style="width: 200px; height: 300px"
            src="assets/images/stoicImages/epictetus1.jpeg"
            alt="stoic image"
          />
        </div>
    </div>
  </div>
</div>
