<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <h1>Stoic Page</h1>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="routeToPage('/')">
          Home Page
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h3>The Stoics</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Name"
            [(ngModel)]="searchByLetter"
            maxlength="1"
          />
          <label class="ms-1">Search by Letter</label>
        </div>
      </div>
      <div class="col-2">
        <button
          class="btn btn-primary"
          [disabled]="!searchByLetter"
          (click)="filterStoics(searchByLetter)"
        >
          Search by Letter
        </button>
      </div>
    </div>
    <div class="row mt-3" *ngIf="isFiltered">
      <div class="col-4">
        <span *ngFor="let stoic of filteredStoics" class="mb-3">
          <span><strong>Stoic Name:</strong> {{ stoic }}</span
          ><br />
        </span>
      </div>
      <div class="col-1">
        <button class="btn btn-danger" (click)="isFiltered = !isFiltered">
          X
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <input
          type="radio"
          name="stoicOption"
          value="Aurelius"
          [checked]="stoicOption === 'Aurelius'"
          (change)="getStoicbyName('Aurelius')"
        />
        <label class="ms-2">Aurelius</label>
      </div>
      <div class="col-2">
        <input
          type="radio"
          name="stoicOption"
          value="Cato"
          [checked]="stoicOption === 'Cato'"
          (change)="getStoicbyName('Cato')"
        />
        <label class="ms-2">Cato</label>
      </div>
      <div class="col-2">
        <input
          type="radio"
          name="stoicOption"
          value="Epictetus"
          [checked]="stoicOption === 'Epictetus'"
          (change)="getStoicbyName('Epictetus')"
        />
        <label class="ms-2">Epictetus</label>
      </div>
      <div class="col-2">
        <input
          type="radio"
          name="stoicOption"
          value="Senca"
          [checked]="stoicOption === 'Senca'"
          (change)="getStoicbyName('Senca')"
        />
        <label class="ms-2">Senca</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="byRadio">
    <div class="col-4" *ngFor="let stoic of selectedStoic">
      <span><strong>Stoic Name:</strong> {{ stoic.name }}</span
      ><br />
      <span><strong>Description:</strong> {{ stoic.description }} </span><br />
      <span><strong>Category:</strong> {{ stoic.category }}</span>
    </div>
    <div class="col-1 ms-auto">
      <button class="btn btn-primary" (click)="byRadio = !byRadio">
        Close
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-2 m-2">
      <input
        type="radio"
        name="byCategory"
        value="Roman Stoicism"
        [checked]="stoicCategory === 'Roman Stoicism'"
        (change)="getStoicbyCategory('Roman Stoicism')"
      />
      <label for="Roman Stoicism" class="ms-2">Roman Stoicism</label>
    </div>
    <div class="col-2 m-2">
      <input
        type="radio"
        name="byCategory"
        value="Greek Stoicism"
        [checked]="stoicCategory === 'Greek Stoicism'"
        (change)="getStoicbyCategory('Greek Stoicism')"
      />
      <label for="Roman Stoicism" class="ms-2">Greek Stoicism</label>
    </div>
    <div class="col-2 m-2">
      <input
        type="radio"
        name="byCategory"
        value="American Stoicism"
        [checked]="stoicCategory === 'American Stoicism'"
        (change)="getStoicbyCategory('American Stoicism')"
      />
      <label for="Roman Stoicism" class="ms-2">American Stoicism</label>
    </div>
    <div class="col-1 ms-auto" *ngIf="byCategory">
      <button class="btn btn-primary" (click)="byCategory = !byCategory">
        Close
      </button>
    </div>
  </div>
  <div class="row" *ngIf="byCategory">
    <li *ngFor="let stoic of selectedCategory" class="col-4 mb-3">
      <label><strong>Stoic Name: </strong>{{ stoic.name }}</label
      ><br />
      <label><strong>Description: </strong>{{ stoic.description }}</label
      ><br />
      <label><strong>Category: </strong>{{ stoic.category }}</label
      ><br />
      <hr />
    </li>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h3>Stoic Array:</h3>
        </div>
        <div class="col-2">
          <button
            class="btn btn-primary"
            (click)="changeStoicArray('Roman Stoicism')"
          >
            Roman Stoic
          </button>
        </div>
        <div class="col-2">
          <button
            class="btn btn-primary"
            (click)="changeStoicArray('American Stoicism')"
          >
            American Stoic
          </button>
        </div>
        <div class="col-2">
          <button
            class="btn btn-primary"
            (click)="changeStoicArray('Greek Stoicism')"
          >
            Greek Stoic
          </button>
        </div>
      </div>
      <div class="row mt-4">
        <li *ngFor="let stoic of stoicsArray" class="col-4 mb-3">
          <label><strong>Stoic Name: </strong>{{ stoic.name }}</label
          ><br />
          <label><strong>Description: </strong>{{ stoic.description }}</label
          ><br />
          <label><strong>Category: </strong>{{ stoic.category }}</label
          ><br />
          <hr />
        </li>
      </div>
    </div>
  </div>
</div>
