<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <h1>Emitter Page</h1>
      </div>
      <div class="col-2 text-center">
        <button class="btn btn-primary" (click)="routeToPage('/')">
          Back Home
        </button>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6 text-center">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasStart"
          aria-controls="offcanvasExample"
        >
          Button with data-bs-target
        </button>
      </div>
      <div class="col-6 text-center">
        <a
          class="btn btn-primary"
          data-bs-toggle="offcanvas"
          href="#offcanvasEnd"
          role="button"
          aria-controls="offcanvasExample"
        >
          Link with href
        </a>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6 m-auto">
        <div
          class="img-container text-center"
          style="width: 300px; height: 500px"
        >
          <img
            src="img-fluid"
            class="rounded"
            style="width: 300px; height: 500px"
            src="assets/images/stoicImages/epictetus1.jpeg"
            alt="stoic image"
          />
        </div>
      </div>
    </div>

  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasStart"
  aria-labelledby="offcanvasStartLabel"
>

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas Start</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <div>
      Offcanvas Start Body
    </div>
    <div
          class="img-container text-center"
          style="width: 200px; height: 300px"
        >
          <img
            src="img-fluid"
            class="rounded"
            style="width: 200px; height: 300px"
            src="assets/images/stoicImages/epictetus1.jpeg"
            alt="stoic image"
          />
        </div>
  </div>
</div>

<div 
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasEnd"
  aria-labelledby="offcanvasEndLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasEndLabel">Offcanvas End</h5>
    <button
     type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-off-canvas></app-off-canvas>
  </div>
</div>